#dashBoardContainer {
	grid-row: 2;
	display: grid;
	grid-template-rows: 1fr 7fr;
	grid-template-columns: 1fr 2fr 1fr;
}
#dashBoardBody {
	grid-row: 2;
	grid-column: 1 / 4;
}
#dashBoardBackground {
    background-image: url('../images/dashBoard.png');
	background-repeat: no-repeat;
	background-size: contain;
	min-width: 97.5vw;
	min-height: 88vh;
}
#nav-bar {
	grid-column: 1 / 4;
}