#loginFormContainer {
	grid-row: 2;
}
#form-login {
	max-width: 40vw;
	min-height: 80vh;
	background-color: white;
	margin: auto;
	border-radius: 15px;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	text-align: center;
}
#loginRow1 {
	grid-row: 1;
}
#loginRow2 {
	grid-row: 2;
}
#loginRow3 {
	grid-row: 3;
}
#dungeonSite {
	font-size: xx-large;
	margin: auto;
}
#loginSpan {
	font-weight: bold;
	font-size: larger;
}
#username, #password, #button-login {
	border-radius: 20px;
}
#button-login {
	background-color: powderblue;
	font-size: 30px;
	padding: 5px 20px;
}
#error-login, #error-password {
	color: red;
}