
#form-login {
	max-width: 40vw;
	min-height: 80vh;
	background-color: white;
	margin: auto;
	position: absoulte;
	margin-top: 10vh;
	border-radius: 15px;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	text-align: center;
}
#loginRow1 {
	margin:auto;
	grid-row: 1;
}
#loginRow2 {
	grid-row: 2;
}
#loginRow3 {
	grid-row: 3;
}
#dungeonSite {
	font-size: xx-large;
	margin: auto;
}
#loginSpan {
	font-weight: bold;
	font-size: larger;
}
#username, #password, #button-login {
	border-radius: 20px;
}
#button-login {
    background-image: linear-gradient(to bottom, #fdca40, #f79824);
	font-size: 30px;
	padding: 5px 20px;
}
#error-login, #error-password {
	color: red;
}
#loginRow3 span {
	cursor: pointer;
}