#myGameContainer {
    display: grid;
    grid-template-rows: 1fr 7fr;
	min-height: 96vh;
	max-width: 98vw;
}
#myGamesBody {
    grid-row: 2;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-width: 2px;
	min-width: 98vw;
    display: grid;
    grid-template-rows: 50% 50%;
}
#gameMasterTableContainer {
    grid-row: 1;
    text-align: center;
    overflow: auto;
}
#myGMGamesTable {
    border-color: black;
    border-width: 2px;
    border-style: solid;
    margin: auto;
}
td, th, tr {
    border-color: black;
    border-width: 2px;
    border-style: solid;
}
#myPlayerGamesTable {
    border-color: black;
    border-width: 2px;
    border-style: solid;
    margin: auto;
}
#playerTableContainer {
    grid-row: 2;
    text-align: center;
    overflow-x: scroll;
}