#nav-bar {
	grid-row: 1;
    background-color: slategray;
    display: grid;
    grid-template-columns: 50% 50%;
}
#navBarHomeIcon {
    grid-column: 1;
    background-image: url('../dungeon site logo.png');
}
#navBarUserIcon {
    grid-column: 2;
    background-image: url('../user icon.png');
    background-position: right;
}
#navBarHomeIcon, #navBarUserIcon {
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}
#navBarHomeIconDropDown, #navBarUserIconDropDown {
    display: none;
}
#navBarHomeIconDropDown {
    float: right;
}