#nav-bar {
	grid-row: 1;
    background-color: grey;
    min-height: 10vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#navBarHomeIcon {
    grid-column: 1;
}
#logo {
    max-width: 20%;
}
#navBarUserIcon {
    grid-column: 2;
    cursor: pointer;
    margin-left: 80%;
    margin-top: 50px;
}
#userIcon {
    max-width: 50%;
}
#navBarHomeIconDropDown, #navBarUserIconDropDown {
    display: none;
}